$primary :#000000;
$secondary :#F3EFEB;
$tertiary :#FF0000;

// Font weight

$bolder: 700;
$bold: 600;
$semi-bold: 500;
$regular: 400;
$light: 300;

// Border style

$border-style-default: 1px solid;

// Radius

$xs-rad: 0.3rem;
$s-rad: 0.5rem;
$m-rad: 0.6rem;
$l-rad: 0.8rem;
$xl-rad: 1rem;
$xxl-rad: 1.5rem;
$full-rad: 100%;

// Line height

$s-lh: 1.2;
$m-lh: 1.3;
$l-lh: 1.5;

// Font size
$xxxs-sz: 0.6rem; // 10px
$xxs-sz: 0.8rem; // 12px
$xs-sz: 1rem; // 14px
$s-sz: 1.3rem; // 16px
$m-sz: 1.5rem; // 20px
$l-sz: 1.7rem; // 24px
$xl-sz: 2.0rem; // 32px
$xxl-sz: 2.5rem; // 40px
$xxxl-sz: 3.5rem;
$big-sz: 5.0rem; // 80px  

// Opacity

$light-o: 0.25;
$regular-o: 0.55;

//margin 

$xs-mg: 0.3rem;
$s-mg: 0.5rem;
$m-mg: 0.6rem;
$l-mg: 0.8rem;
$xl-mg: 1rem;
$xxl-mg: 1.5rem;
$xxxl-mg: 2rem;
$big-mg: 3rem;

//padding

$xxxs-pd: 0.1rem;
$xxs-pd: 0.3rem;
$xs-pd: 0.5rem;
$s-pd: 0.8rem;
$m-pd: 1rem;
$l-pd: 1.5rem;
$xl-pd: 2rem;
$xxl-pd: 2.5rem;
$xxxl-pd: 3rem;
$big-pd: 5rem;

