.menu {
    background: url('../../../public/Img/background.jpg') center no-repeat ;
    background-size: cover;
    height: 100%; 
    position: relative;
    color: white;
    font-family: "Cormorant", serif;
    padding: 2rem;

    @include tablet {
        padding: 0;
    }

    @include tablet {
        height: 120vh;
    }

    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 2rem;
        text-align: center;
        margin: auto;
        font-weight: 300;
        text-transform: uppercase;
        line-height: 1.5;  

        @include tablet {
            width: 25rem; 
            font-size: 2.5rem;     

            
        }
    }

    &__list {
        display: flex;
        padding: 0;
        justify-content: center;
        list-style: none;
        flex-wrap: wrap;
        gap: 1.5rem;
        margin: 2rem 0;

        @include tablet {
           flex-wrap: nowrap;
           gap: 3rem;
           margin: 0;


        }
    }

    &__item {
        width: 10rem;
        font-size: $s-sz;
        display: flex;
        justify-content: center;
        cursor: pointer; 

        @include tablet {
            width: 12rem;
            font-size: $m-sz;
        }
        
        &.hover:hover::after{
            content: "27 €";
            position: absolute;
            backdrop-filter: blur(5px);
            color: white;
            padding:0.2rem 0.5rem ;
            margin-top: 2rem;
        }

        &.escale:hover::after {
            content: "35 €";
        }

        &.active {
            backdrop-filter: blur(5px);
            padding: 0.2rem;
            border-radius: 1rem;
            box-shadow: 0 0 7px 0 white;
        }
    }

    &__content {
        background-color: white;
        width: 80%;
        margin: auto;
        padding: 2rem;
        height: 25rem;
        border-radius: 1.5rem;
        display: flex;  
        flex-wrap: wrap;
        padding-top: 0; 
        height: 100%;
        
        @include tablet {
            flex-wrap: nowrap;
            height: auto;

        }
    }
}