.presentation{
    height: 80vh;
    overflow: hidden;
    font-family: 'Pinyon Script';

    @include desktop{
        height: 100vh;
    }

    &__container{
        height: 100%;
    }

    &__title{
        position: absolute;
        top: 0%;
        left: 42%;
        text-align: center;
        z-index: 1;
        font-size: 4rem;
        margin: 0;
        color: $secondary;
        display: none;

        @include desktop{
            display: block;
        }
    }

    &__content{
        height: 100%;
        display: flex;
        flex-direction: column;

        @include desktop{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 100%;
            width: 120%;
            position: relative;
            left: -10%;

        }
    }

    &__contact{
        width: 100%;
        height: 33%;
        font-size: 4rem;
        background-image: url('../../../public/Img/imgcontact.jpg');
        background-attachment: scroll !important;
        background-repeat: no-repeat !important;
        background-position: center;
        background-size: cover;
        flex:1;
        color: $secondary;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        filter: brightness(0.4);
        &:hover{
            transition: 0.5s;
            filter: brightness(0.6);
            p{
                filter: brightness(1);
            }
        }

        @include desktop{
            transform: skew(6deg);
            p{
                transform: skew(-6deg);
            }
            height: 100%;

        }
    }

    &__menu{
        width: 100%;
        height: 33%;
        font-size: 4rem;
        color: $secondary;
        background-image: url('../../../public/Img/imgmenu.jpg');
        background-attachment: scroll !important;
        background-repeat: no-repeat !important;
        background-position: center;
        background-size: cover;
        filter: brightness(0.4);
        &:hover{
            transition: 0.5s;
            filter: brightness(0.6);
        }
        display: flex;
        justify-content: center;
        flex-direction: column;

        &__title{
            text-align: center;
            margin: 0;
        }

        &__content{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

            @include desktop{
                p{
                    transform: skew(-6deg);
                }
            }
        }

        @include desktop{
            transform: skew(6deg);
            height: 100%;
        }

        
    }

    &__reservation{
        width: 100%;
        height: 33%;
        font-size: 4rem;
        color: $secondary;
        background-image: url('../../../public/Img/imgreservation.jpg');
        background-attachment: scroll !important;
        background-repeat: no-repeat !important;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        filter: brightness(0.4);
        &:hover{
            transition: 0.5s;
            filter: brightness(0.6);
        }

        @include desktop{
            transform: skew(6deg);
            p{
                transform: skew(-6deg);
                margin-left: 5rem;
            }
            height: 100%;
            justify-content: inherit;


        }
    }
}

.presentation-text{
    background-color: $primary;
    padding: 4rem;

    &__title{
        font-size: 2rem;
        color: $secondary;
        text-align: center;
        margin: 0;
        font-family: 'Cormorant';
        margin-bottom: 2rem;
    }

    &__content{
        font-size: 2.5rem;
        color: $tertiary;
        text-align: center;
        margin: 0;
        font-family: 'Pinyon Script';
    }
}